<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softcom.yeldi.todo" >
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Birthday"
            android:label="@string/title_activity_birthday" >
        </activity>
        <activity
            android:name=".Anniv"
            android:label="@string/title_activity_anniv" >
        </activity>
        <activity
            android:name=".Payment"
            android:label="@string/title_activity_payment" >
        </activity>
        <activity
            android:name=".RemainderList"
            android:label="@string/title_activity_remainder_list" >
        </activity>
        <activity
            android:name=".AlertDialogClass"
            >
        </activity>
        <activity
            android:name=".AlertSnooze"
            >
        </activity>
        <activity
            android:name=".toclass.ViewHistoryList"
            android:label="title_activity_alert_dialog" >
        </activity>
        <receiver android:name="Broadcastreceiver" >
        </receiver>
        <receiver android:name="Broadcastreceiversnooze" >
        </receiver>
    </application>

</manifest>
